* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}


.Input:hover .Icon {
   color: white;
   opacity: 1;
}

.Input:focus .Icon {
   color: white;
   opacity: 1;
}

.Circle:hover .Arrow {
   color: white;
   transition: 0.3s all ease;
}

.Arrow {

   color: #007FC9;
   z-index: 3;

}

.PlusIcon {
   margin-right: 8px;
   font-size: 34px;
}

.Row:last-child {
   border-bottom: none;
}

.Row:first-child {
   text-align: left;
}

.HeaderColumn:last-child {
   border-right: none;
}

.Card:hover .CardImage,
.Card:hover .CardText {

   box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
   transition: 0.4s ease-out;
}

input[type="file"] {
   height: 0;
   overflow: hidden;
   width: 0;
}

input[type="file"]+label {
   background: white;
   border: 2.5px solid #208FD0;
   border-radius: 5px;
   color: #208FD0;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-weight: 500;
   margin: 8px auto;
   outline: none;
   padding: 4px 16px;
   width: 80%;
   position: relative;
   transition: all 0.3s;
   vertical-align: middle;

}

.Upload:hover {
   box-shadow: inset 0px 0px 0px 2px #208FD0;
   transition: 0.4s ease-out;
}

.Upload {
   height: 56%;
}

h4 {
   color: white;
   font-weight: 500;
   font-size: 24px;
   margin-bottom: 36px;
}

h2 {
   font-weight: 600;
   font-size: 32px;
   margin-bottom: 36px;
   color: #A2CCF6;
}

.Email {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #21d8fd;
   gap: 8px;
}

